@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<StoreWebUI.Models.StoreVM>

<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info"> StoreFront </h2>
        <br />
    </div>
    <div class="col-6 text-right"></div>
</div>
<table class="table">

    <thead>
        <tr class="table-success">
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Action</th>

        </tr>
        <tr>
            @foreach (StoreVM item in Model)
            {
                <td>@Html.DisplayFor(modelItem => item.StoreId)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Address)</td>
                <td>
                    <button class="btn btn-info">@Html.ActionLink("View Order History", "GetStoreOrders", "Order", new { p_id = item.StoreId }, new { @style = "color: white" })</button>
                </td>
            }
        </tr>
    </thead>
</table>
<br />
<a href="https://localhost:44306/">
    <button type="button" class="btn btn-secondary">Back</button>
