@*
*@
@{
}

@model StoreWebUI.Models.CustomerVM
@{
    ViewData["Title"] = "Customers";
}

<br />
<h2 class="text-info">Customer </h2>
<br />
<br />
<a href="https://localhost:44306/Customer/Create">
    <button type="button" class="btn btn-info">New Customer</button>
</a>
<br />
<br />
<form asp-action="Search">
    <div class="p-4 rounded border row">
        <div class="col-8">
            <input asp-for="Name" type="text" class="form-control" placeholder="Search Customer by Name" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-group text-right">
        <button type="submit" class="btn btn-success" value="Search">Search</button>
        <a href="https://localhost:44306/">
            <button type="button" class="btn btn-secondary">Back</button>
        </a>
    </div>
</form>

